* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
  }
  
.btn{
    background-color: yellow;
    color: blue;
    font-weight: bold;
}
.btn:hover{
    color: yellow;
    font-weight: 900;
    border: 3px solid white;

}

.card{
    background-color:rgba(0, 0, 255, 0.74);
    padding: 10px;
    color: white;
}

h5{
    font-family: cursive;
}



